<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="../static/plugins/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Day" src="...">
            </a>
        </div>
    </div>
</div>
<h2>{{title}}</h2>
<ul class="list-group">
    {% for item in datalist %}
    <li class="list-group-item">{{item}}</li>
    {% endfor %}
</ul>
<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/plugins/bootstrap-3.4.1/js/bootstrap.js"></script>
</body>
</html>