<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Day2</title>
</head>
<body>
    <h2>Day2-web</h2>
    <div>
        <span style="color: red">时间：</span>
        <span>2022.04.29</span>
    </div>
    <div>
        关于html标签
    </div>
    <div>
        <a href="https://www.baidu.com/">百度搜索</a>
    </div>
    <h1>账号注册</h1>
    <div>
        <a href="/register" target="_blank">点击进入注册页面</a>
    </div>

    <h3>测试</h3>
    <div>
        <a href="/tests/test" target="_blank">点击进入test</a>
    </div>

    <img style="height: 10%;width: 10%" src="https://t7.baidu.com/it/u=508006830,4042443322&fm=193&f=GIF" />
    <img src="/static/103358aloddojctjo9ptfd.jpg" />
    <ul>
        <li>北京</li>
        <li>上海</li>
        <li>广州</li>
        <li>深圳</li>
    </ul>
    <div>
        <ul>
            <li>北京</li>
            <li>上海</li>
            <li>广州</li>
            <li>深圳</li>
        </ul>
    </div>
    <ol>
        <li>北京</li>
        <li>上海</li>
        <li>广州</li>
        <li>深圳</li>
    </ol>
    <div>
        <ol>
            <li>北京</li>
            <li>上海</li>
            <li>广州</li>
            <li>深圳</li>
        </ol>
    </div>
    <table border="1">
        <thead>
            <tr><th>姓名</th><th>年龄</th><th>等级</th></tr>
        </thead>
        <tbody>
            <tr><td>James</td><td>20</td><td>王者</td></tr>
            <tr><td>Simon</td><td>23</td><td>青铜</td></tr>
            <tr><td>Sophie</td><td>27</td><td>白银</td></tr>
            <tr><td>Tommy</td><td>21</td><td>黄金</td></tr>
        </tbody>
    </table>
    <input type="radio" name="n1">男
    <input type="radio" name="n1">女
    <select multiple>
        <option>北京</option>
        <option>上海</option>
        <option>广州</option>
        <option>深圳</option>
    </select>
    <textarea rows="3"></textarea>
</body>
</html>